@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}

h1 {
  font-size: 1.2em;
  font-family: 'Raleway', 'Arial Unicode MS', 'Arial', 'Microsoft YaHei', '微软雅黑', '微軟雅黑', sans-serif;
}

body {
  margin: 0;
  padding: 10px 20px;
  min-width: 250px;
  min-height: 150px;
  font-size: 1em;
  font-family: 'Noto Sans', 'Arial Unicode MS', 'Arial', 'Dengxian', '等线', '等線', 'Microsoft YaHei', '微软雅黑', '微軟雅黑', sans-serif;
}

kbd { /*https://codepen.io/dudleystorey/pen/gkrsq*/
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}

a:link, a:visited {
  color: #00d;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:hover:active {
  color: #68c;
}
